.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: #859494;
  overflow: hidden;
  background-image: url("https://i.pinimg.com/564x/96/6a/7b/966a7b0fa51a0e145aa6b2fe8cd56923.jpg");
  
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #a39595;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #0f0e0e;
  background-color: #767c7c;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #a1a8a8;
}

.head {
  color: rgba(12, 175, 20, 0.596);
}


.button {
  background-color: grey;
  color: black;
}